.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

.header__logo {
  margin: 0;
  box-sizing: border-box;
  max-width: 19.92%;
  max-height: 5.39%;
  margin-top: 2.66%;
}

.header__title {
  margin: 0;
  font-weight: 900;
  line-height: 100px;
  font-size: 96px;
  text-align: center;
  margin-top: 7.11%;
  max-width: 56.25%;
  max-height: 15.62%;
}

.header__subtitle {
  margin: 0;
  line-height: 36px;
  font-size: 30px;
  text-align: center;
  margin-top: 2.5%;
  max-width: 56.25%;
  max-height: 5.6%;
}

.header__photo {
  margin: 0;
  margin-top: 5%;
  max-width: 76.88%;
  max-height: 48.05%;
}

.header__image {
  margin: 0;
  background-image: url("./images/kalegin.png");
  filter: grayscale(100%);
  object-fit: cover;
  max-width: 100%;
  border: 1px solid red;
}

/* ++++++++++  MEDIUM  calc((88% / 768) * 100); +++++++++ */

@media screen and (min-width: 544px) and (max-width: 1023px) {
  .header__logo {
    max-width: calc((254% / 768) * 100);
    max-height: calc((66% / 768) * 100);
    margin-top: calc((30% / 768) * 100);
  }

  .header__title {
    font-weight: 900;
    line-height: 79px;
    font-size: 75px;
    margin-top: calc((90% / 768) * 100);
    max-width: calc((530% / 768) * 100);
    max-height: calc((158% / 768) * 100);
  }

  .header__subtitle {
    line-height: 36px;
    font-size: 30px;
    margin-top: calc((25% / 768) * 100);
    max-width: calc((720% / 768) * 100);
    max-height: calc((72% / 768) * 100);
  }

  .header__photo {
    margin-top: calc((30% / 768) * 100);
    max-width: calc((768% / 768) * 100);
    max-height: calc((480% / 768) * 100);
  }
}

/* ++++++++++  SMALL  calc((64% / 320) * 100); +++++++++ */

@media screen and (max-width: 543px) {
  .header__logo {
    max-width: calc((188% / 320) * 100);
    max-height: calc((52% / 320) * 100);
    margin-top: calc((20% / 320) * 100);
  }

  .header__title {
    font-weight: 900;
    line-height: 44px;
    font-size: 40px;
    margin-top: calc((50% / 320) * 100);
    max-width: calc((228% / 320) * 100);
    max-height: calc((88% / 320) * 100);
  }

  .header__subtitle {
    line-height: 20px;
    font-size: 16px;
    margin-top: calc((16% / 320) * 100);
    max-width: calc((288% / 320) * 100);
    max-height: calc((40% / 320) * 100);
  }

  .header__photo {
    margin-top: calc((40% / 320) * 100);
    max-width: calc((320% / 320) * 100);
    max-height: calc((200% / 320) * 100);
  }
}
