.page {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 163%;
  font-weight: 400;
  letter-spacing: 0px;
  color: #ffffff;
  background-color: #2a2c2f;
  display: flex;
  flex-direction: column;

  max-width: 100%;
  /* Suavizado de las fuentes en Firefox
   y en los navegadores que utilizan webkit
   (Google Chrome, Opera, Safari*/
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* maximizar la legibilidad del texto.  */
  text-rendering: optimizeLegibility;
}
